
.navbar {
    background-color: #000; 
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    align-items: center;
}

.navbar-brand img {
    height: 100px;
    width: 100px;
}

.nav-pills .nav-link {
    font-family: 'Helvetica Neue', sans-serif;
    color: #fff;
    background-color: transparent;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease;
    position: relative; 
    margin: 0 5px; 
}

.nav-pills .nav-link::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    height: 3px;
    background-color: #007bff; 
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
    transform-origin: bottom right;
}

.nav-pills .nav-link:hover::after,
.nav-pills .nav-link.active::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav-pills .dropdown-menu {
    background-color: #333; 
    border: none;
    border-radius: 0.25rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 0.5rem;
}

.nav-pills .dropdown-item {
    color: #fff;
    background-color: transparent;
    padding: 0.75rem 1rem;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 0.25rem;
    margin: 0.25rem 0;
}

.nav-pills .dropdown-item:hover,
.nav-pills .dropdown-item:focus {
    background-color: #007bff;
    color: #fff;
}

.form-inline .input-group {
    flex-wrap: nowrap;
}

.form-inline .form-control {
    flex-grow: 1;
    border-radius: 0.25rem 0 0 0.25rem;
}

.form-inline .btn {
    border-radius: 0 0.25rem 0.25rem 0;
    padding: 0.375rem 0.75rem;
}

@media (max-width: 767px) {
    .navbar-brand img {
        height: 100px;
        width: 100px;
    }

    .navbar-toggler {
        color: #fff;
        border-color: transparent;
    }

    .nav-pills {
        flex-direction: column;
        align-items: stretch;
    }

    .nav-pills .nav-link {
        text-align: center;
        margin-bottom: 0.5rem;
    }

    .nav-pills .nav-link::after {
        bottom: -5px; 
    }

    .nav-pills .dropdown-menu {
        width: 100%;
        box-shadow: none;
    }

    .nav-pills .dropdown-item {
        text-align: center;
    }

    .form-inline, .input-group {
        width: 100%;
    }

    .form-inline .form-control,
    .form-inline .btn {
        width: calc(50% - 2px);
        margin-top: 0;
    }

    .form-inline .btn {
        width: calc(50% - 2px);
    }
}

.btn:focus {
    box-shadow: none !important;
}

.badge-sm {
    color: white !important;
    cursor: pointer;
    margin-left: .1em;
    margin-right: .1em;
    min-width: 1.8em;
    padding: .25em !important;
}

.related-card {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    max-height: 300px;
}

.card {
    margin-bottom: 20px;
}

.table-of-contents {
    list-style-type: none;
    margin-top: 0;
    padding-left: 0;
}

.table-of-contents-container {
    background-color: #f7f7f9;
    border: 2px solid #dee2e6;
    border-radius: 0.25rem;
    margin-bottom: 1.5rem;
    padding: 1.5rem;
}

.table-of-contents-container h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 2px; 
    margin: 0 auto; 
    background-color: #f5f5f5; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

table th, table td {
    border: 1px solid #eee; 
    padding: 15px; 
    text-align: left; 
    background-color: #fff; 
}

table th {
    background-color: #e8e8e8; 
    font-weight: bold;
}

table tr:first-child th {
    background-color: #f5f5f5; 
    text-transform: uppercase; 
    letter-spacing: 1px; 
}

footer {
    width: 100%;
}

#post-content a {
    font-weight: bold;
    text-decoration: none;
}

.page-container {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.content-container {
	flex: 1;
}

.fab.fa-twitter {
    color: #55acee;
}

.fab.fa-facebook {
    color: #3b5998;
}

.fab.fa-instagram {
    color: #ac2bac;
}

.icon-container {
    word-spacing: -1em;
}

.breadcrumb-card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.breadcrumb-body {
    display: flex;
    align-items: center; 
    padding: 0.5rem 1.25rem; 
}

.breadcrumb {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;
    margin-bottom: 0; 
}

.breadcrumb .home-link {
    color: #0d6efd;
}

.breadcrumb .breadcrumb-item.active {
    color: #6c757d;
}

nav[aria-label="breadcrumb"] {
    --bs-breadcrumb-divider: '>';
}

.recent-posts-card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    margin: 20px 0;
    font-family: 'Helvetica Neue', sans-serif;
}

.recent-posts-card .card-header {
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    background-color: transparent;
    padding: 1rem;
    border-bottom: 1px solid #eee; 
}

.recent-posts-card .fas.fa-newspaper {
    color: green;
    font-size: 1.2em;
    margin-right: 5px;
}

.recent-posts-card .list-group-item {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #333;
    border-top: 1px solid #eee; 
}

.recent-posts-card .post-thumbnail {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    border-radius: 50%; 
}