.badge-sm {
    min-width: 1.8em;
    padding: .25em !important;
    margin-left: .1em;
    margin-right: .1em;
    color: white !important;
    cursor: pointer;
}

.btn:focus{
    box-shadow: none!important;
}

.card {
    margin-bottom: 20px;
}

.note-btn.dropdown-toggle:after {
    content: none;
}

@media only screen and (max-width: 575px) {
.nav {
    display: block;
  }
}

@media only screen and (max-width: 991px) {
.navbar-brand {
    margin-bottom: 15px;
  }
}

.nav-fill .nav-item {
    font-weight : 500;
}

.nav.navbar-nav.ms-auto {
    display: flex;
    margin: auto;
}

.navbar-brand {
	display: flex;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 15px;
}

.table-of-contents {
    list-style-type: none;
    padding-left: 0;
    background-color: #f7f7f9;
    padding: 1.5rem; 
    border-radius: 0.25rem; 
    margin-bottom: 1.5rem; 
    border: 2px solid #dee2e6; 
}

.table-of-contents li {
    margin-bottom: 0.75rem; 
}

.table-of-contents a {
    color: #007bff; 
    text-decoration: none; 
    font-weight: bold; 
}

.table-of-contents a:hover {
    color: #0056b3;
}

#check-stock-button {
	background-color: #4CAF50; /* Green */
	color: white;
	padding: 10px 20px;
	font-size: 18px;
	border-radius: 25px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	transition: all 0.2s ease-in-out;
}

#check-stock-button:hover {
	background-color: #3e8e41;
	box-shadow: 0px 0px 10px #3e8e41;
}

#visit-website-button {
	background-color: #2196F3; /* Blue */
	color: white;
	padding: 10px 20px;
	font-size: 18px;
	border-radius: 25px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	transition: all 0.2s ease-in-out;
}

#visit-website-button:hover {
	background-color: #0b7dda;
	box-shadow: 0px 0px 10px #0b7dda;
}

#check-stock-button, #visit-website-button {
    display: none;
}

.related-card {
	max-height: 300px;
	display: flex;
	flex-wrap:wrap;
	align-items: center;
}

.link-overlay {
    width:150px;
    height:150px;
    position: absolute;
    top:0;
    left:0;
}

#cta_message_retailer, #cta_message_official {
    font-size: 1.2em;
    font-weight: bold;
    color: blue;
    padding: 10px;
}

.astrodivider {
  margin:64px auto;
  width:400px; 
  max-width: 100%;
  position:relative;
}

.astrodividermask { 
    overflow:hidden; height:20px; 
}

.astrodividermask:after { 
      content:''; 
      display:block; margin:-25px auto 0;
      width:100%; height:25px;  
        border-radius:125px / 12px;
       box-shadow:0 0 8px #049372;
}
.astrodivider span {
    width:50px; height:50px; 
    position:absolute; 
    bottom:100%; margin-bottom:-25px;
    left:50%; margin-left:-25px;
    border-radius:100%;
   box-shadow:0 2px 4px #4fb39c;
    background:#fff;
}
.astrodivider i {
    position:absolute;
    top:4px; bottom:4px;
    left:4px; right:4px;
    border-radius:100%;
    border:1px dashed #68beaa;
    text-align:center;
    line-height:40px;
    font-style:normal;
     color:#049372;
}
